* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: rgba(13, 110, 139, 0.75);
    --overlay-color: rgba(0, 0, 0, 0.65);
    --menu-color: rgb(30, 30, 30);
    --menu-speed: 0.75s;
}

header {
    background: var(--menu-color);
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 3em;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #333;
    color: #f4f4f4;
    height: 100vh;
    line-height: 1.6;
    overflow-y: auto;
}

.container {
    width: 100%;
    height: 100%;
    /* CSS Smooth Scroll */
    overflow-y: scroll;
    scroll-behavior: smooth;
    /* scroll-snap-type: y mandatory; */
}

.lead {
    font-size: 1.5rem;
}

.middle {
    font-size: 1.5rem;
    padding-top: 0;
}

.middle-left {
    font-size: 1.5rem;
    text-align: left;
    padding-top: 0;
}

.end {
    font-size: 1.5rem;
}

.end-left {
    font-size: 1.5rem;
    text-align: left;
}

.toggler {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    cursor: pointer;
    opacity: 0;
}
.hamburger {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}
.hamburger > div {
    flex: none;
    display: flex;
    align-items: center;
    background: white;
    height: 2px;
    width: 2em;
    position: relative;
    transition: all 0.4s ease;
}
.hamburger div::before,
.hamburger div::after {
    content: '';
    position: absolute;
    z-index: 99;
    background: inherit;
    height: 2px;
    width: 2em;
    
}
.hamburger div::before {
    bottom: 10px;
}
.hamburger div::after {
    top: 10px;
}

nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: var(--menu-color);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
  }
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li {
    margin-left: 1em;
}
nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 1;
    transition: opacity 150ms ease-in-out;
}

.toggler:checked ~ nav {
    transform: scale(1,1);
}
.togler:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}
.toggler:checked + 
.hamburger > div {
    transform: rotate(135deg);
}
.toggler:checked + 
.hamburger > div::before,
.toggler:checked + 
.hamburger > div::after {
    top: 0;
    transform: rotate(90deg);
}

body {
    line-height: 1.2;
    overflow-y: scroll;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 0;
    text-align: center;
    width: 100%;
    min-height: 100vh;
    /* Scroll Snap */
    scroll-snap-align: start;
    word-break: break-word;
    /* padding-bottom: 3em; */
    /* padding-top: 3em; */
}
section h1 {
    font-size: 2em;
    padding-top: 3em;
}
section h2 {
    font-size: 2em;
    padding-top: 3em;
}
section h3{
    font-size: 1.5em;
    margin-top: 2em;
}
section h4{
    margin-top: 2em;
}
section p {
    font-size: 1em;
    margin: 0 1em;
    padding: 1em;
    justify-content: center;
}
section p a {
    font-size: 1em;
    color: #f4f4f4;
}
.overlay {
    position: relative;
    max-width: 50em;
    min-height: 100vh;
    background-color: var(--overlay-color);
}


/*Denna sektionen sköter utseendet för mobiler*/
@media screen and (max-width: 649px) {
    .lead {
        font-size: 1.2rem;
    }
    .middle {
        font-size: 1.2rem;
    }
    .middle-left {
        font-size: 1.2rem;
    }
    .end {
        font-size: 1.2rem;
        padding-bottom: 3em;
    }
    .end-left {
        font-size: 1.2rem;
        padding-bottom: 3em;
    }
}

/*Denna sektionen sköter utseendet för datorer*/
@media screen and (min-width: 650px) {
    header {
        height: 3em;
    }
    section h1 {
        font-size: 4em;
        padding-top: 3em;
    }
    section h2 {
        margin-top: 1em;
    }
    section h3{
        margin-top: 1rem;
    }
    section p {
        max-width: 30rem;
    }
    section div p {
        max-width: 45rem;
    }
    .hamburger {
        display: none;
    }
    nav {
        transform: scale(1,1);
        top: 0;
        width: 100%;
        height: 100%;
        background: none;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    nav ul {
        display: flex;
        white-space: nowrap;
        flex-wrap: wrap;
    }
    nav a:hover {
        color: var(--primary-color)
    }
    section div.gdpr {
        position:absolute;
        max-width: 50rem;
        margin-right: 0;
        top:90vh;
        transform:translateY(-100%);
    }
}

    /* Section Images */
    section#hem {
        background: url('img/robur.jpg') no-repeat center center/cover;
    }
    section#omoss {
        background: url('https://images.unsplash.com/photo-1536978514793-2ae19d485bf3') no-repeat center center/cover;
    }
    section#blimedlem {
        background: url('img/gren.png') no-repeat center center/cover;
    }
    section#utbildning {
        background: url('img/deko.jpg') no-repeat center center/cover;
    }
    section#kontakta {
        background: url('https://images.unsplash.com/photo-1526509348523-2217ac3168e3') no-repeat center center/cover;
    }